.course {
    border: 2px none rgb(152, 176, 196);
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}