.course-recitation-info table,
.course-recitation-info th,
.course-recitation-info td {
    border: 1px solid black;
    border-collapse: collapse;
}

.CourseDetails th,
.CourseDetails td {
    padding: 5px;
}

.CourseDetials th {
    text-align: left;
}

.icon-conflict {
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
}

.CourseDetails button {
    width: fit-content;
    font-size: medium;
    font-weight:600;
    background-color: rgb(176, 154, 192);
}

.course-recitation-info table {
    width: 100%;
    table-layout: fixed;
}

.course-recitation-info th,
.course-recitation-info td {
    width: 15%;
    overflow: hidden;
}


#back{
    width: 20%;
    padding: 4px;
    margin:10px;
}
