button {
  width: 30%;
  color: #090909;
  padding: 0.1em;
  font-size: 12px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 1px 1px 2px #c5c5c5,
              -1px -1px 2px #ffffff;
 }
 
 button:hover {
  border: 1px solid white;
 }
 
 button:active {
  box-shadow: 1px 1px 2px purple,
              -1px -1px px purple;
 }
#searchbtn{
  font-size: medium;
  font-weight:700;
  background-color: rgb(176, 154, 192);
  padding: 4px;

}
 select {
  width: 70%;
  margin: 0.7em;
  font-size: medium;
  padding: 0.2em;
 }