.editinfo {
    position:absolute;
    place-items: center;
    border: 1px;
    background-color: rgb(212, 212, 212);
    border-style: inset;
    width: 80%;
    left: 10%;
    top: 5%;
    height: 80%;
}
