.Schedule table {
    width: 100%;
}

.Schedule td {
    font-size: 7px;
    text-align: left;
}

.Schedule .weekday {
    width: 16%;
}

.Schedule table,
.Schedule th,
.Schedule td {
    border: 1px solid;
}

.Schedule .noshow {
    visibility: hidden;
}